:root{
    --me-margin: 2%;
    --int-margin: var(--me-margin);
    --top-bar-size: 13vh;
    --menu-button-size: 50px;
}


/* universal */

body{
    margin: 0;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.top-bar{
    height: var(--top-bar-size);
    background-color: gray;
    display: flex;
    justify-content: center;
    align-self: center;
}

.menu-button{
    --menu-placement: calc((var(--top-bar-size) - var(--menu-button-size)) / 2);
    position: absolute;
    right: 5px;
    top: var(--menu-placement);
    right: var(--menu-placement);
    height: var(--menu-button-size);
    width: var(--menu-button-size);

    /* making button transparent */
    background-color: transparent;
    border: transparent;

    /* aligning hamburger menu */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bar1{
    width: 25px;
    height: 2px;
    background-color: black;
    border: transparent;
    border-radius: 2px;
}

.bar2{
    width: 35px;
    height: 2px;
    background-color: black;
    border: transparent;
    border-radius: 2px;
}

#menu{
    background-color: aqua;
    height: 300px;
    width: 100px;
    position: absolute;
    right: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

/* home page */

.home-body{
    position: absolute;
    right: 0px;
    height: 350px;
    width: 75%;
    background-color: blueviolet;
    
    /*align div veticly*/
    top: 0; 
    bottom: 0; 
    margin: auto;

    /*aligning text within*/
    display: flex;
    align-items: center;
}

#home-text{
    width: 300px;
    text-align: center;
    position: absolute;
    left: calc(50% - 300px);
}

/*courses*/

.courses-body{
    height: calc(100vh - var(--top-bar-size));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.courses-year{
    height: 85%;
    width: 20%;
    background-color: #29037A;
    color: white;
    padding-left: 20px; 
    border-radius: 10px;
}

.courses-points{
    padding-left: 10px;
}

/* me page */

.me-body{
    height: 60vh;
    width: 50vw;
    background-color: #29037A;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: white;
    border-radius: 10px;
}

#me-heading{
    margin-top: var(--me-margin);
    margin-left: var(--me-margin);
}

.me-flexbox{
    display: flex;
    align-items: center;
    margin-left: var(--me-margin);
    margin-right: var(--me-margin);
    gap: 13%;
}

.me-map{
    width: 40%;
    border: 2px solid white;
    border-radius: 10px;
}

#me-paragraph{
    width: 40%;
    height: 50%;
    text-align: center;
}

/*interests*/

.int-body{
    height: 60vh;
    width: 50vw;
    background-image: url("../Img/snow.webp");
    background-size: cover;
    color: white;
    border-radius: 10px;
    
    /*center to viewport*/
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    

    /*aligning paragpaph*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#int-heading{
    color: black;
    position: absolute;
    top: var(--int-margin);
    left: var(--int-margin);
} 

#int-paragraph{
    color: black;
    width: 40%;
    height: 20%;
    text-align: center;
    margin-right: var(--int-margin);
} 