/* universal */

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.top-bar{
    height: 75px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-self: center;
}

.menu-button{
    position: absolute;
    right: 5px;
    top: 12.5px;
    height: 50px;
}

#menu{
    background-color: aqua;
    height: 300px;
    width: 100px;
    position: absolute;
    right: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

/* home page */

.home-body{
    --h: 350px;
    position: absolute;
    right: 0px;
    height: var(--h);
    width: 75%;
    background-color: blueviolet;
    /*align div veticly*/
    top: 0; 
    bottom: 0; 
    margin: auto;

    /*aligning text within*/
    display: flex;
    align-items: center;
}

#home-text{
    width: fit-content;
    text-align: center;
    position: absolute;
    left: 0;
    right: 50vh;
    margin: auto;

}

/*courses*/

.courses-body{
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.courses-year{
    height: 85%;
    width: 20%;
    background-color: #29037A;
    color: white;
    padding-left: 20px; 
    border-radius: 10px;
}

.courses-points{
    padding-left: 10px;
}